<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>
    <property name="root" value="${LOGS:-/opt/oystr/vault/shared/logs}"/>
    <timestamp key="timestamp" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="oystr.commons.logging.ByMarkerNameDiscriminator"/>
        <sift>
            <appender name="${execution}" class="ch.qos.logback.core.FileAppender">
                <file>${root}/executions/${markerName}/on-${timestamp}.log</file>
                <encoder>
                    <pattern>%date %-5level %-24logger{24} %.20thread | %message%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %coloredLevel [%logger] %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play"         level="INFO"/>
    <logger name="application"  level="DEBUG"/>
    <logger name="access"       level="INFO" additivity="false">
        <!-- appender-ref ref="ASYNC_STDOUT"/ -->
    </logger>

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader"             level="OFF"  />
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader"  level="OFF"  />
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread"  level="OFF"  />
    <logger name="com.gargoylesoftware.htmlunit.javascript"             level="OFF"  />
    <logger name="com.google.api.client.http.HttpTransport"             level="WARN" />
    <logger name="com.datastax.driver.core.ClockFactory"                level="WARN" />

    <logger name="oystr.executionservice.Client" level="INFO" additivity="false">
        <appender-ref ref="SIFT"/>
    </logger>

    <logger name="oystr.executionservice.ClientAcceptor" level="INFO" additivity="false">
        <appender-ref ref="SIFT"/>
    </logger>

    <logger name="oystr.executionservice.ExecutionSupervisor" level="INFO" additivity="false">
        <appender-ref ref="SIFT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>
